.logo {
  color: $accent-color;

  font-family: $secondary-font;

  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
  &--accent-black {
    color: #000000;
  }
  &--accent-white {
    color: $primery-white-color;
  }
}
